- flash.each do |name, msg|
  .alert{:class => name == "error" ? "alert-danger" : "alert-info"}
    = msg

.hero
  .container
    %h1.large
      %img{:src => "assets/mindfuseio.png", :alt => "Mindfuse.io"}/
      %span
        = "is coming"
    %ul.reasons-list.fa-ul
      %li
        %i.fa-li.fa.fa-check
        = "Find industry alliances."
      %li
        %i.fa-li.fa.fa-check
        = "Increase grant opportunities."
      %li
        %i.fa-li.fa.fa-check
        = "Solve real problems."
    %img.devices{:src => "assets/devices.png", :alt => "Minduse.io works on all devices"}

%div{class: Rails.application.config.ended ? "form-wrap clearfix ended" : "form-wrap clearfix" }
  - if Rails.application.config.ended
    %p.thanks
      = "THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH."
    %p.compiling
      = "WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL"
      %br
      = "COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO"
    %p.go-to
      = "In the meantime, head to #{link_to('WWW.HARRYS.COM', 'http://www.harrys.com/')}"
    %p.again
      = "Thank You Again!"
  - else
    %p.byline
      = "Get industry grants and collaboration opportunities direct to your inbox."
    .signup-form
      = form_for @user, url: { :action => "create" } do |f|
        = f.text_field :email, :placeholder => "Enter Email", class: "email"
        = f.submit "Get Early Access", class: "submit"