- twitter_message = "#Shaving is evolving. Excited for @harrys to launch."
- facebook_link = "http://www.facebook.com/sharer/sharer.php?u=#{CGI::escape(root_url)}?ref=#{CGI::escape(@user.referral_code)}&title=Harrys"
- twitter_link = "http://twitter.com/share?url=#{CGI::escape(root_url)}?ref=#{CGI::escape(@user.referral_code)}&text=#{CGI::escape(twitter_message)}"

- referrals_count = @user.referrals.count
- stops = User::REFERRAL_STEPS
- found = nil
- stops.reverse_each do |stop|
  - if stop["count"] <= referrals_count and !found
    - stop["selected"] = true
    - found = stop
  - else
    - stop["selected"] = false

- flash.each do |name, msg|
  .alert{:class => name == "error" ? "alert-danger" : "alert-info"}
    = msg

.header
  .content
    %img.logo{:src => "assets/mindfuseio.png", :alt => "Mindfuse.io"}
    %p
      = "thank you for signing up"

.hero
  .container
    .share-wrap
      %p.title
        = "Invite superstar researchers you would want on your team."
      %p.subtitle
        = "Copy your unique link below and share via email, Facebook or Twitter and we will split our future revenues with you."
      %p.copy-link
        = "#{root_url}?ref=#{@user.referral_code}"
      .social-links
        = link_to "", facebook_link, {class: "fb", target: "_blank", title: "Share your unique link on Facebook"}
        .sep
        = link_to "", twitter_link, {class: "twit", target: "_blank", title: "Share your unique link on Twitter"}

    .for-example
      %h3
        = "How it works?"
      .wrap-text
        %p
          = "For example, if you"
        %p
          %strong
            %i.fa.fa-star
            = "refer 5 colleagues"
        %p
          = "and they all successfully complete a"
        %p
          %strong
            %i.fa.fa-file
            = "$10,000 project"
        %p
          = "we will transfer a total of"
        %p
          %strong
            %i.fa.fa-heart
            = "$1,500 into your Paypal account!"
      .scissors-icon
        %i.fa.fa-scissors
      .barcode-icon
        %i.fa.fa-barcode

%div{class: found ? "prizes prize-#{found["class"]}" : "prizes" }
  .container.page-content

    .referrals-count
      %span
        = referrals_count
      = "#{referrals_count == 1 ? 'friend has' : 'friends have'} joined"

    .progress
      .mover
        .bar.clearfix

    .we-will-share
      %p
        = "We will share the love and success of mindfuse by rewarding you for every one of your friends first successful projects."

%p.policy
  = link_to "Privacy Policy", "/privacy-policy" , {target: "_blank"}
